.flex {
  display: flex;
  margin-bottom: 30px;
}
.borderBottom {
  border-bottom: 1px solid #b5b5b5
}
h2 {
  margin: 0;
  color: #2f2fc1
}
p {
  color: #2f2fc1;
  font-size: 25px;
  margin-bottom: 10px
}
.App {
  width: 600px;
  margin: 0 auto;
}
.box {
  border: 1px solid #b5b5b5;
  padding: 20px 20px 0 20px;
}
.flex1 {
  flex: 1
}
.disabled_minus {
  color: #fd9c9c !important;
  /* font-size: 25px !important */
}
.disabled_plus {
  color: #9090c1 !important;
  /* font-size: 25px !important */
}
.padding05 {
  padding: 0 5px;
}
.icon {
  color: #2f2fc1;
  font-size: 25px !important
}
.icon_minus {
  color: #ff4242;
  font-size: 25px !important
}
.main {
  margin: 4px 15px 0 0;
}